<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alauncher">
    <application
        android:label="@string/application_name"
        android:icon="@drawable/ic_home"
        android:theme="@*android:style/Theme.NoTitleBar">
        <activity
            android:name="com.example.alauncher.Apps"
            android:label="@string/application_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
